body {
  background-color: black;
}
h1 {
  border: 1px solid white;
  color: red;
  font-size: 50px;
  font-weight: bold;
}
section {
  border: 2px solid yellow;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.Films {
  display: flex;
}
